---
import Footer from "../components/footer.astro";
import NavBar from "../components/nav-bar.astro";
import Home from "../components/sections/home.astro";
import Projects from "../components/sections/projects.astro";
import Skills from "../components/sections/skills.astro";
import WorkExperience from "../components/sections/work-experience.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mi Portafolio">
	<main>
		<Home />
		<WorkExperience />
		<Skills />
		<Projects />
	</main>
	<NavBar />
	<Footer />
</Layout>
