---
import type { siteConfig } from "@public/data/site-config";
import SubTitle from "./ui/sub-title.astro";

interface Props {
	data: (typeof siteConfig)["sections"]["skills"]["data"];
}

const { data } = Astro.props;
const keys = Object.keys(data) as Array<keyof typeof data>;
---

<div class="flex flex-col gap-10">
	{
		keys.map((item) => {
			const { title, data: skillData } = data[item];

			return (
				<article>
					<SubTitle className="text-md px-2 pb-3">{title}</SubTitle>
					<div class="grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-3">
						{skillData.map((item) => {
							const { name, icon, isLearning } = item;
							const skillName = `${name} ${isLearning ? "- aprendiendo" : ""}`;

							return (
								<>
									<article class="group relative flex flex-col  items-center justify-center gap-3 rounded-md border-2 border-accent p-2  duration-300 hover:scale-95">
										<div set:html={icon} class="flex flex-col items-center justify-center gap-3" />
										<p class="text-center text-xs md:text-base">{skillName}</p>
									</article>
								</>
							);
						})}
					</div>
				</article>
			);
		})
	}
</div>
