---
import { twMerge, type ClassNameValue } from "tailwind-merge";

interface Props {
	className?: ClassNameValue;
}

const { className } = Astro.props;
---

<p class={`${twMerge("text-paragraph text-base text-pretty relative z-50", className)}`}>
	<slot />
</p>
